<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="Smarthr - Bootstrap Admin Template">
		<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
        <meta name="author" content="Dreamguys - Bootstrap Admin Template">
        <meta name="robots" content="noindex, nofollow">
        <title>Freelance Pro | Task Board</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
		
		<!-- Lineawesome CSS -->
        <link rel="stylesheet" href="/assets/css/line-awesome.min.css">
		
		<!-- Select2 CSS -->
		<link rel="stylesheet" href="/assets/css/select2.min.css">
		
		<!-- Datetimepicker CSS -->
		<link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.min.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="/assets/css/style.css">
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
    </head>
    <body>
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <div class="header">
			
				<!-- Logo -->
                <div class="header-left">
                    <a href="index.html" class="logo">
					</a>
                </div>
				<!-- /Logo -->
				
				<a id="toggle_btn" href="javascript:void(0);">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</a>
				
				<!-- Header Title -->
                <div class="page-title-box">
					<h3>Freelance Pro</h3>
                </div>
				<!-- /Header Title -->
				
				<a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa fa-bars"></i></a>
				
				<!-- Header Menu -->
				<ul class="nav user-menu">
				
				
					<!-- Flag -->
					<li class="nav-item dropdown has-arrow flag-nav">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
							<img src="assets\img\flags\us.png" alt="" height="20"> <span>English</span>
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="assets\img\flags\us.png" alt="" height="16"> English
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="assets\img\flags\fr.png" alt="" height="16"> French
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="assets\img\flags\es.png" alt="" height="16"> Spanish
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="assets\img\flags\de.png" alt="" height="16"> German
							</a>
						</div>
					</li>
					<!-- /Flag -->
				
					

					<li class="nav-item dropdown has-arrow main-drop">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="user-img"><img src="assets\img\profiles\me.jpg" alt="">
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="profile.html">My Profile</a>
							<a class="dropdown-item" href="/login">Logout</a>
						</div>
					</li>
				</ul>
				<!-- /Header Menu -->
				
				<!-- Mobile Menu -->
				<div class="dropdown mobile-user-menu">
					<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
					<div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" href="profile.html">My Profile</a>
						<a class="dropdown-item" href="login.html">Logout</a>
					</div>
				</div>
				<!-- /Mobile Menu -->
				
            </div>
			<!-- /Header -->
			
			<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="menu-title"> 
								<span>Main Menu</span>
							</li>
							<li>
								<a href="/index"><i class="la la-dashboard"></i> <span>Dashboard</span></a>
							</li>
							<li>
								<a href="/events"><i class="fa fa-calendar"></i> <span>Calendar</span></a>
							</li>

							<li class="submenu">
								<a href="#"><i class="la la-rocket"></i> <span> Projects</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="/projects">Projects</a></li>
									<li><a href="/task-board">Task Board</a></li>
								</ul>
							</li>
							<li> 
								<a href="/clients"><i class="la la-users"></i> <span>Clients</span></a>
							</li>
							<li><a href="/invoices"><i class="la la-ticket"></i> <span>Invoices</span></a></li>

							<li class="submenu">
								<!-- <a href="javascript:void(0);"><i class="la la-share-alt"></i> <span>Multi Level</span> <span class="menu-arrow"></span></a> -->
								<ul style="display: none;">
									<li class="submenu">
										<a href="javascript:void(0);"> <span>Level 1</span> <span class="menu-arrow"></span></a>
										<ul style="display: none;">
											<li><a href="javascript:void(0);"><span>Level 2</span></a></li>
											<li class="submenu">
												<a href="javascript:void(0);"> <span> Level 2</span> <span class="menu-arrow"></span></a>
												<ul style="display: none;">
													<li><a href="javascript:void(0);">Level 3</a></li>
													<li><a href="javascript:void(0);">Level 3</a></li>
												</ul>
											</li>
											<li><a href="javascript:void(0);"> <span>Level 2</span></a></li>
										</ul>
									</li>
									<li>
										<a href="javascript:void(0);"> <span>Level 1</span></a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
                </div>
            </div>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
			
				<!-- Page Content -->
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">Task Board</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Task Board</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row board-view-header">
						<div class="col-4">
							
						</div>
						<!-- <div class="col-8 text-right">
							<a href="#" class="btn btn-white float-right ml-2" data-toggle="modal" data-target="#add_task_board"><i class="fa fa-plus"></i> Create List</a>
							<a href="project-view.html" class="btn btn-white float-right" title="View Board"><i class="fa fa-link"></i></a>
						</div> -->

						<div class="col-12">
							<div class="pro-progress">
								<div class="pro-progress-bar">
									<h4>Progress</h4>
									<div class="progress">
										<div class="progress-bar bg-success" role="progressbar" style="width: 20%"></div>
									</div>
									<span>20%</span>
								</div>
							</div>
						</div>
					</div>
					
					<div class="kanban-board card mb-0">
						<div class="card-body">
							<div class="kanban-cont" id="kanban-cont">
							</div>
						</div>
					</div>			
					
					
					
                </div>
				<!-- /Page Content -->
				
			<div id="add_task_board" class="modal custom-modal fade" role="dialog">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Add Task Board</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body">
							<form>
								<div class="form-group">
									<label>Task Board Name</label>
									<input type="text" class="form-control">
								</div>
								<div class="form-group task-board-color">
									<label>Task Board Color</label>
									<div class="board-color-list">
										<label class="board-control board-primary">
											<input name="radio" type="radio" class="board-control-input" value="primary" checked="">
											<span class="board-indicator"></span>
										</label>
										<label class="board-control board-success">
											<input name="radio" type="radio" class="board-control-input" value="success">
											<span class="board-indicator"></span>
										</label>
										<label class="board-control board-info">
											<input name="radio" type="radio" class="board-control-input" value="info">
											<span class="board-indicator"></span>
										</label>
										<label class="board-control board-purple">
											<input name="radio" type="radio" class="board-control-input" value="purple">
											<span class="board-indicator"></span>
										</label>
										<label class="board-control board-warning">
											<input name="radio" type="radio" class="board-control-input" value="warning">
											<span class="board-indicator"></span>
										</label>
										<label class="board-control board-danger">
											<input name="radio" type="radio" class="board-control-input" value="danger">
											<span class="board-indicator"></span>
										</label>
									</div>
								</div>
								<div class="m-t-20 text-center">
									<button class="btn btn-primary btn-lg">Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			
			<div id="edit_task_board" class="modal custom-modal fade" role="dialog">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Edit Task Board</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body">
							<form>
								<div class="form-group">
									<label>Task Board Name</label>
									<input type="text" class="form-control" value="Pending">
								</div>
								<div class="form-group task-board-color">
									<label>Task Board Color</label>
									<div class="board-color-list">
										<label class="board-control board-primary">
											<input name="radio" type="radio" class="board-control-input" value="primary" checked="">
											<span class="board-indicator"></span>
										</label>
										<label class="board-control board-success">
											<input name="radio" type="radio" class="board-control-input" value="success">
											<span class="board-indicator"></span>
										</label>
										<label class="board-control board-info">
											<input name="radio" type="radio" class="board-control-input" value="info">
											<span class="board-indicator"></span>
										</label>
										<label class="board-control board-purple">
											<input name="radio" type="radio" class="board-control-input" value="purple">
											<span class="board-indicator"></span>
										</label>
										<label class="board-control board-warning">
											<input name="radio" type="radio" class="board-control-input" value="warning">
											<span class="board-indicator"></span>
										</label>
										<label class="board-control board-danger">
											<input name="radio" type="radio" class="board-control-input" value="danger">
											<span class="board-indicator"></span>
										</label>
									</div>
								</div>
								<div class="m-t-20 text-center">
									<button class="btn btn-primary btn-lg">Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			
			<div id="new_project" class="modal custom-modal fade" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Create New Project</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body">
							<form>
								<div class="form-group">
									<label>Project Name</label>
									<input class="form-control" type="text">
								</div>
								<div class="submit-section">
									<button class="btn btn-primary submit-btn">Create Project</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Assign Leader Modal -->
			<div id="assign_leader" class="modal custom-modal fade" role="dialog">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Assign Leader to this project</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="input-group m-b-30">
								<input placeholder="Search to add a leader" class="form-control search-input" type="text">
								<span class="input-group-append">
									<button class="btn btn-primary">Search</button>
								</span>
							</div>
							<div>
								<ul class="chat-user-list">
									<li>
										<a href="#">
											<div class="media">
												<span class="avatar"><img alt="" src="/assets/img/profiles\avatar-09.jpg"></span>
												<div class="media-body align-self-center text-nowrap">
													<div class="user-name">Richard Miles</div>
													<span class="designation">Web Developer</span>
												</div>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<div class="media">
												<span class="avatar"><img alt="" src="/assets/img/profiles\avatar-10.jpg"></span>
												<div class="media-body align-self-center text-nowrap">
													<div class="user-name">John Smith</div>
													<span class="designation">Android Developer</span>
												</div>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<div class="media">
												<span class="avatar">
													<img alt="" src="/assets/img/profiles\avatar-16.jpg">
												</span>
												<div class="media-body align-self-center text-nowrap">
													<div class="user-name">Jeffery Lalor</div>
													<span class="designation">Team Leader</span>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="submit-section">
								<button class="btn btn-primary submit-btn">Submit</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Assign Leader Modal -->
				
			<!-- Assign User Modal -->
			<div id="assign_user" class="modal custom-modal fade" role="dialog">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Assign the user to this project</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="input-group m-b-30">
								<input placeholder="Search a user to assign" class="form-control search-input" type="text">
								<span class="input-group-append">
									<button class="btn btn-primary">Search</button>
								</span>
							</div>
							<div>
								<ul class="chat-user-list">
									<li>
										<a href="#">
											<div class="media">
												<span class="avatar"><img alt="" src="/assets/img/profiles\avatar-09.jpg"></span>
												<div class="media-body align-self-center text-nowrap">
													<div class="user-name">Richard Miles</div>
													<span class="designation">Web Developer</span>
												</div>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<div class="media">
												<span class="avatar"><img alt="" src="/assets/img/profiles\avatar-10.jpg"></span>
												<div class="media-body align-self-center text-nowrap">
													<div class="user-name">John Smith</div>
													<span class="designation">Android Developer</span>
												</div>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<div class="media">
												<span class="avatar">
													<img alt="" src="/assets/img/profiles\avatar-16.jpg">
												</span>
												<div class="media-body align-self-center text-nowrap">
													<div class="user-name">Jeffery Lalor</div>
													<span class="designation">Team Leader</span>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="submit-section">
								<button class="btn btn-primary submit-btn">Submit</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Assign User Modal -->
			
			<!-- Add Task Modal -->
			<div id="add_task_modal" class="modal custom-modal fade" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Add Task</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body">
							<form>
								<div class="form-group">
									<label>Task Name</label>
									<input type="text" id="task_name" name="task_name" class="form-control">
								</div>
								<div class="form-group">
									<label>Task Priority</label>
									<select class="form-control select" id="priority" name="priority">
										<option>Select</option>
										<option>High</option>
										<option>Normal</option>
										<option>Low</option>
									</select>
								</div>
								<div class="form-group">
									<label>Due Date</label>
									<div class="cal-icon"><input id="due_date" name="due_date" class="form-control datetimepicker" type="text"></div>
								</div>
								
								<div class="submit-section">
									<button
									  id="submit"
									  type="button"
									  class="btn btn-primary submit-btn"
									>
									  Submit
									</button>
								  </div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- /Add Task Modal -->
			
			<!-- Edit Task Modal -->
			<div id="edit_task_modal" class="modal custom-modal fade" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Edit Task</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body">
							<form>
								<div class="form-group">
									<label>Task Name</label>
									<input type="text" class="form-control" value="Website Redesign">
								</div>
								<div class="form-group">
									<label>Task Priority</label>
									<select class="form-control select">
										<option>Select</option>
										<option selected="">High</option>
										<option>Normal</option>
										<option>Low</option>
									</select>
								</div>
								<div class="form-group">
									<label>Due Date</label>
									<div class="cal-icon">
										<input class="form-control datetimepicker" type="text" value="20/08/2019">
									</div>
								</div>
								<div class="form-group">
									<label>Task Followers</label>
									<input type="text" class="form-control" placeholder="Search to add">
									<div class="task-follower-list">
										<span data-toggle="tooltip" title="John Doe">
											<img src="/assets/img/profiles\avatar-02.jpg" class="avatar" alt="John Doe" width="20" height="20">
											<i class="fa fa-times"></i>
										</span>
										<span data-toggle="tooltip" title="Richard Miles">
											<img src="/assets/img/profiles\avatar-09.jpg" class="avatar" alt="Richard Miles" width="20" height="20">
											<i class="fa fa-times"></i>
										</span>
										<span data-toggle="tooltip" title="John Smith">
											<img src="/assets/img/profiles\avatar-10.jpg" class="avatar" alt="John Smith" width="20" height="20">
											<i class="fa fa-times"></i>
										</span>
										<span data-toggle="tooltip" title="Mike Litorus">
											<img src="/assets/img/profiles\avatar-05.jpg" class="avatar" alt="Mike Litorus" width="20" height="20">
											<i class="fa fa-times"></i>
										</span>
									</div>
								</div>
								<div class="submit-section text-center">
									<button class="btn btn-primary submit-btn">Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- /Edit Task Modal -->
				
            </div>
			<!-- /Page Wrapper -->
			
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="/assets/js/jquery-3.2.1.min.js"></script>
		
		<script src="/assets/js/jquery-ui.min.js"></script>
		<script src="/assets/js/jquery.ui.touch-punch.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="/assets/js/popper.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
		
		<!-- Slimscroll JS -->
		<script src="/assets/js/jquery.slimscroll.min.js"></script>
		
		<!-- Select2 JS -->
		<script src="/assets/js/select2.min.js"></script>
		
		<!-- Datetimepicker JS -->
		<script src="/assets/js/moment.min.js"></script>
		<script src="/assets/js/bootstrap-datetimepicker.min.js"></script>
		
		<!-- Custom JS -->
		<script src="/assets/js/app.js"></script>

		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

    <script>
      document.getElementById("submit").addEventListener("click", (event) => {
        event.preventDefault(); // Prevent the default form submission behavior

        // Disable the button to prevent double-clicking
        event.target.disabled = true;

        const name = document.getElementById("task_name").value;
        const option2 = document.getElementById("priority");
        const priority = option2.options[option2.selectedIndex].text;

        const due_date = document.getElementById("due_date").value;

        if (!name || !priority || !due_date) {
          // Handle the case where not all fields are filled out
          swal("Error!", "Missing fields!", "error").then(() => {
            // Enable the button after showing the error message
            event.target.disabled = false;
          });
          return;
        }

        const data = {
          name: name,
          priority: priority,
          due_date: due_date,          
        };

        // Show loading animation
        swal({
          title: "Processing...",
          content: {
            element: "div",
            attributes: {
              id: "loading-animation",
            },
          },
          buttons: false,
          closeOnClickOutside: false,
          closeOnEsc: false,
        });

        // Use Axios to submit the form data to the /submit endpoint
        // ...
        axios
          .post("/create/task", data)
          .then(function (response) {
            // Hide loading animation
            swal.close();

            const successMessage =
              response.data.status ||
              "Your request has been submitted successfully.";
            swal({
              title: "Success!",
              text: successMessage,
              icon: "success",
              button: "Close",
            }).then(() => {
              // Clear input fields
            //   document.getElementById("topic").value = "";
            //   document.getElementById("message").value = "";

              // Enable the button after closing the success message
              event.target.disabled = false;

              // Refresh the page
              location.reload();

              // You can also close the modal if necessary
              // jQuery('#ticketModal').modal('hide');
            });
          })
          .catch(function (error) {
            console.error(error);
            // Hide loading animation
            swal.close();

            const errorMessage =
              error.response.data.message ||
              "An error occurred. Please try again later.";
            swal({
              title: "Error!",
              text: errorMessage,
              icon: "error",
              button: "Close",
            }).then(() => {
              // Enable the button after closing the error message
              event.target.disabled = false;
            });
          });
        // ...
      });
    </script>

<script>
	

	// Function to generate kanban list HTML
function generateKanbanList(listTitle, tasks) {
    var kanbanList = document.createElement('div');
    kanbanList.classList.add('kanban-list');
    kanbanList.classList.add('kanban-info');

    var kanbanHeader = document.createElement('div');
    kanbanHeader.classList.add('kanban-header');
    var statusTitle = document.createElement('span');
    statusTitle.classList.add('status-title');
    statusTitle.textContent = listTitle;
    kanbanHeader.appendChild(statusTitle);
    kanbanList.appendChild(kanbanHeader);

    var kanbanWrap = document.createElement('div');
    kanbanWrap.classList.add('kanban-wrap');
    tasks.forEach(function(task) {
        var cardPanel = document.createElement('div');
        cardPanel.classList.add('card');
        cardPanel.classList.add('panel');
        var kanbanBox = document.createElement('div');
        kanbanBox.classList.add('kanban-box');

        // Generate task HTML here using task details
        var taskTitle = document.createElement('span');
        taskTitle.textContent = task.task_name;
        var taskProgress = document.createElement('div');
        taskProgress.textContent = 'Deadline: ' + task.task_deadline;
        // Add more elements for other task details

        // Append task elements to kanbanBox
        kanbanBox.appendChild(taskTitle);
        kanbanBox.appendChild(taskProgress);
        // Append kanbanBox to cardPanel
        cardPanel.appendChild(kanbanBox);
        // Append cardPanel to kanbanWrap
        kanbanWrap.appendChild(cardPanel);
    });
    kanbanList.appendChild(kanbanWrap);

    var addNewTask = document.createElement('div');
    addNewTask.classList.add('add-new-task');
    var addNewTaskLink = document.createElement('a');
    addNewTaskLink.href = 'javascript:void(0);';
    addNewTaskLink.setAttribute('data-toggle', 'modal');
    addNewTaskLink.setAttribute('data-target', '#add_task_modal');
    addNewTaskLink.textContent = 'Add New Task';
    addNewTask.appendChild(addNewTaskLink);
    kanbanList.appendChild(addNewTask);

    return kanbanList;
}

	// Function to initialize the kanban board
function initializeKanbanBoard(tasks) {
    console.log(tasks); // For debugging, you can remove this later
    var kanbanCont = document.getElementById('kanban-cont');
    
    // Iterate through the tasks array directly
    tasks.forEach(function(task) {
        var kanbanList = generateKanbanList(task.task_status, [task]); // Pass task as an array to generateKanbanList
        kanbanCont.appendChild(kanbanList);
    });
}

	// Call the function to initialize the kanban board
    initializeKanbanBoard(<%- JSON.stringify(tasks) %>);
</script>
		
    </body>
</html>